//body
body {
	background-image: linear-gradient(rgba(62, 20, 20, 0.4), rgba(62, 20, 20, 0.4)), url(back.jpg);
    background-size: cover;
    background-position: center;
    text
	
}

#gridContainer {
	padding-bottom: 10px;
}
	
table {
	background-color: #4d4646;
	border-spacing: 0;
}

td {
	border: 1px solid #929aab;
	border-radius: 0px;
	width: 10px;
	height: 10px;
}

span{
	color: #ffffff;
}

#start,
#clear,
#random {

	padding:  .75em;
	border-radius: 5px;
	border: none;
	background: #71a0a5;
}

td.dead{
	background-color: transparent;	
}

td.live {
	background-color: #d8dfe2;
	border-radius: 0px;
}
//ul
ul {
	color: white;
}
