
body {
	background-image: linear-gradient(rgba(62, 20, 20, 0.4), rgba(62, 20, 20, 0.4)), url(images/back.jpg);
    background-size: cover;
    background-position: center;
}

#gridContainer {
	padding-bottom: 10px;
}
	
table {
	background-color: #4d4646;
	border-spacing: 0;
}

td {
	border: 1px solid #929aab;
	border-radius: 0px;
	width: 10px;
	height: 10px;
}

.controls {
	width: 35vw;
	margin: 0 auto;
}

#start,
#clear,
#random {
	padding:  .75em;
	border-radius: 5px;
	border: none;
	background: #71a0a5;
	color: #ffffff;
	font-size: 1.5rem;
	width: 10rem;
	margin-bottom: 1rem;
}

#start:hover,
#clear:hover,
#random:hover {
	cursor: pointer;
	opacity: 0.9;
}

td.dead{
	background-color: transparent;	
}

td.live {
	background-color: #d8dfe2;
	border-radius: 0px;
}

ul {
	color: #ffff;
}

/* --- Instruction Styles --- */
.instruction-container {
	width: 65vw;
	margin: 2rem auto;
}
.instructions {
	margin-left: 2rem;
	padding-bottom: 1rem;
}
#game-of-life-link:link {
	text-decoration: none;
	color: #3623a1;
}
p {
	line-height: 2;
}
ol {
	list-style-type: none;
	line-height: 2;
}

/* --- Foot tag Styles --- */
#foot-tag {
	text-align: center;
	margin-top: 5rem;
}